.sider {
    min-height: 100vh;
    padding: 16px 8px;
    top: 0;
    height: 100vh;
    position: sticky;
    overflow: auto;
    transition: all 0.2s;

    .top_sidebar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5px;

        .user_info {
            margin-right: 2rem;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}