.sider {
    min-height: 100vh;
    padding: 16px 8px;

    .top_sidebar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 5px;

        .user_info {
            margin-right: 2rem;
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}